.bg-success1 {
    background-color:#08B797;
  }
  .bg-success2 {
    background-color:#032868;
  }
  .bg-success3 {
    background-color:#08B797;
  }
 .bd {
    background-color:#08B797;
  }
  .bdd {
    background-color:#032868;
  }
  